.sidebar {
    background-color: $darkGrey;
    height: 100%;
    min-width: 15rem;

    ul {
        list-style: none;
    }

    li {
        padding: 0.325rem 0;
    }

    &__section{
        font-size: 1.25rem;
        color: $purple
    }

    &__keysections {
        background-color: $lightGrey;
        color: $darkGrey;
        border-radius: 5px;
        
        &:last-child {
            margin-top: 1rem;
        }

        > li {
            cursor: default;
            padding: 0.325rem 1rem;

            i {
                color: $black;
            }
        }

        &:nth-child(2) {
            > li {

                &:nth-child(1) {
                    i {
                        color: $grey;
                    }
                }

                &:nth-child(2) {

                    i {
                        color: $darkGrey;
                    }
                }

                &:nth-child(3) {
                    i {
                        color: $purple;
                    }
                }
            }
        }
    }
}

.dropdown {

    > i {
        transition: transform 1500 ease-in-out;
    }

    &.active {
        border-radius: 5px 5px 0 0;

        > i {
            transform: rotate(180deg);
        }


    }

    &__items {
        display: none;

        > button:first-child {
            border-radius: 0;
        }

        > button {
            border-radius: 0 0 5px 5px;
        }

        &.active {
            display: inherit;
        }
    }
}